*{
    padding: 0;
    margin: 0;
}

body {
      
      background-color: #efefef99;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      min-width: 100vw;
      font-family: sans-serif;
    
  }
.container
{
  
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 700px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #ababab;
  background: linear-gradient(#45454512, #7bf7d8);
}
.info{
  display: flex;
  flex-direction: column;
  /* align-items: ; */
  position: absolute;
  bottom: 0;
  height: 50%;
    z-index: 8;
  width: 500px;
}



  

  
  
  .wave-one{
    opacity:0.4 ;
    bottom: 0.3;
    left: 50%;
    top: 110%;
    position: absolute;
    z-index: 3;
    flex-shrink: 0;
    background: white;
    height: 50rem;
    width: 50rem;
    margin-left: -25rem;
    margin-top: -25rem;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
    z-index: 3;
 
  }
  .wave-two{
    opacity:0.2;
    bottom: 0.3;
    left: 50%;
    top: 110%;
    position: absolute;
    z-index: 3;
    flex-shrink: 0;
    background: white;
    height: 50rem;
    width: 50rem;
    margin-left: -25rem;
    margin-top: -25rem;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
    z-index: 1;

  }
  .wave-three{
    opacity:0.1 ;
    bottom: 0.3;
    left: 50%;
    top: 110%;
    position: absolute;
    z-index: 3;
    flex-shrink: 0;
    background: white;
    height: 50rem;
    width: 50rem;
    margin-left: -25rem;
    margin-top: -25rem;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
    z-index: 2;
  }
  
  @keyframes drift {
    from{
        transform: rotate(0deg);
    }
    from{
        transform: rotate(360deg);
    }

    
  }
  
  
  .location{
    margin-top: 1.5rem;
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
    font-size: 400;

  }
  #date, .tempminmax
  {
    /* margin-top: 1.5rem; */
    text-align: center;
    font-weight: 10;
    font-size: 1rem;
    font-size: 700;
  }
  .temp
  {
    margin-top: 1.5rem;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    font-size: 400;
  }
  .tempminmax 
  {
    text-align: center;
    font-size: 1rem;
    font-weight: 10;

  }
  #weathercon
  {
    
    display: flex;
    flex-direction: column;
    font-size: 7rem;
    height: 300px;
    width: 300px;
  }
  .fa-sun
  {
    position: absolute;
    bottom: 0;
    top: 20%;
    right: 36%;
    left: 89px;
    font-size: 7rem;
    text-align: center;
  }

  .fa-sun{
    animation: aagepiche 2s alternate infinite;
  }

  @keyframes aagepiche {
    0%{
      transform: scale(0.7);
    }
    100%
    {
      transform: scale(0.8);
    }
    
  }
  #city
  {
    
    display: flex;
    flex-direction: column;
    font-size: 7rem;
    height: 300px;
    width: 300px;
  }
  .fa-city
  {
    opacity: 0.5;
   
    position: absolute;
    bottom: 0;
    top: 30%;
    right: 26%;
    left: 99px;
    font-size:  35rem;
    text-align: center;
  }
  .fa-street-view{
  animation: rotates 3s linear infinite alternate;
  }
  .cloud {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
  }
  
  .wcloud {
    opacity: 0.5;
    z-index: 3;
    position: absolute;
    top: 250px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    animation: cloudmove 9s linear infinite;
  }
  
  .wcloud2 {
    
    opacity: 0.5;
    z-index: 6;
    position: absolute;
    transform: scale(0.7);
    top: 300px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    animation: cloudmove 5s 2s linear infinite;
  }
  @keyframes cloudmove {
    0% {
      left: -100px;
    }
  
    100% {
      left: 300px;
    }
  }
  
  .cloud1 {
    height: 30px;
    width: 30px;
    background-color: #53e2bc;
    border-radius: 50%;
    margin-right: -20px;
    box-shadow: 0px 0px 5px #53e2bc;
  }
  
  .cloud2 {
    height: 70px;
    width: 70px;
    background-color: #53e2bc;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #53e2bc;
  }
  
  .cloud3 {
    height: 50px;
    width: 50px;
    background-color: #53e2bc;
    border-radius: 50%;
    margin-left: -20px;
    box-shadow: 0px 0px 5px #53e2bc;
  }
  @keyframes rotates {
    from {
      transform: translate(-0.5rem);
    }
  
    to {
      transform: translate(0.5
      );
    }
  }
  

  

